<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BLDownloadMetadataDownloadPolicyCellularResultKey</key>
	<integer>3</integer>
	<key>apple-id</key>
	<string>yinzhanghan2000@icloud.com</string>
	<key>artistId</key>
	<integer>297435940</integer>
	<key>artistName</key>
	<string>Ann Bell &amp; Sabah Sallah</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>28948599</integer>
		<key>flavor</key>
		<string>pluspub</string>
	</dict>
	<key>book-info</key>
	<dict>
		<key>PageProgression</key>
		<string>default</string>
		<key>asset-info</key>
		<dict>
			<key>file-size</key>
			<integer>28948599</integer>
			<key>flavor</key>
			<string>pluspub</string>
		</dict>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>4FB125462F2750F127A42ADB3E6A35DB</string>
		<key>publication-version</key>
		<integer>163214493</integer>
		<key>publisher-unique-id</key>
		<string>ISBN-978-1-4835921-4-5</string>
		<key>unique-id</key>
		<integer>3907655014280939241</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AppleID</key>
			<string>yinzhanghan2000@icloud.com</string>
			<key>DSPersonID</key>
			<integer>12171570255</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>PurchaserID</key>
			<integer>12171570255</integer>
		</dict>
		<key>purchaseDate</key>
		<date>2023-05-18T02:24:02Z</date>
	</dict>
	<key>cover-writing-mode</key>
	<string>horizontal</string>
	<key>desktopSupportLevel</key>
	<string>supported</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>explicit</key>
	<integer>2</integer>
	<key>fileExtension</key>
	<string>epub</string>
	<key>genre</key>
	<string>Medical</string>
	<key>genreId</key>
	<integer>10086</integer>
	<key>isbn</key>
	<string>9781483592145</string>
	<key>itemId</key>
	<integer>1246442749</integer>
	<key>itemName</key>
	<string>The Morphology of Human Blood Cells</string>
	<key>kind</key>
	<string>ebook</string>
	<key>longDescription</key>
	<string>This atlas, which portrays the morphologic characteristics of normal and pathologic cells in blood and bone marrow, is published for the use of medical students, student medical technologists, and other health science students who are learning to identify the various types of blood cells.  This monograph also is an aid for teachers of morphological hematology and for technologists who are responsible for the examination of smears by manual and automated methods.  A knowledge of morphology is also useful for residents in clinical and anatomic pathology, pediatrics, and medicine.</string>
	<key>obeyPageBreaks</key>
	<integer>1</integer>
	<key>pageCount</key>
	<integer>130</integer>
	<key>primaryLanguage</key>
	<string>en</string>
	<key>publisher</key>
	<string>BookBaby</string>
	<key>releaseDate</key>
	<string>2016-12-07T08:00:00Z</string>
	<key>s</key>
	<integer>143455</integer>
	<key>scroll-axis</key>
	<string>default</string>
	<key>shouldDisableOptimizeSpeed</key>
	<true/>
	<key>shouldDisableTouchEmulation</key>
	<true/>
	<key>sort-artist</key>
	<string>Ann Bell &amp; Sabah Sallah</string>
	<key>sort-name</key>
	<string>Morphology of Human Blood Cells</string>
	<key>subtitle</key>
	<string>Seventh Edition</string>
	<key>vendorId</key>
	<integer>357045</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
	<key>year</key>
	<integer>2016</integer>
</dict>
</plist>
